<h1>Order Info</h1>
<% grand_total = 0 %>
<section id='shipping'>
  <p>Name: <%= @order.name %></p>
  <p>Address: <%= @order.address %></p>
  <p>City: <%= @order.city %></p>
  <p>State: <%= @order.state %></p>
  <p>Zip: <%= @order.zip %></p>
</section>
