<div class="row justify-content-center">
  <div class="col-4">
    <h3><%= @merchant.name %></h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw" class="img-thumbnail">
    <div class="btn-group" role="group">
      <%= button_to 'Items', "/merchants/#{@merchant.id}/items", class: "btn btn-dark btn-sm btn-space", method: :get %>
      <%= button_to 'Edit', "/merchants/#{@merchant.id}/edit", class: "btn btn-dark btn-sm btn-space", method: :get %>
      <%= button_to 'Delete', "/merchants/#{@merchant.id}", class: "btn btn-dark btn-sm btn-space", method: :delete %>
    </div>
  </div>
  <div class="col-4">
      <section class='address'>
        <h5><%= @merchant.address %></h5>
        <h5><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></h5>
      </section>
  </div>
  <div class="col-4">
    <section id='statistics'>
      <p>Number of items: <%= @merchant.count_items %></p>
      <p>Average Price of Items: <%= number_to_currency(@merchant.avg_price_items) %></p>
      <p>Cities Ordered From: <%= @merchant.cities_ordered %></p>
    </section>
  </div>
</div>
