<h1>Cart</h1>
<% grand_total = 0 %>
<% if @contents.present? %>

  <% @cart_contents.each do |item| %>

  <section id='item-<%= item.id %>'>

    <%= link_to item.name, "items/#{item.id}" %>
    <img src="<%="#{item.image}"%>">
    <%= item.merchant.name %>
    <%= number_to_currency(item.price) %>
    <p>Quantity: <%= @contents[item.id.to_s] %></p>

        <% if @contents[item.id.to_s] < item.inventory %>
        <%= button_to "Add 1 to Cart", cart_path(item_id: item) %>
        <% end %>

        <% if @contents[item.id.to_s] > 1 %>
        <%= button_to "Remove 1 from Cart", cart_path(item_id: item), method: :patch %>
        <% elsif @contents[item.id.to_s] = 1 %>
        <%= button_to "Remove 1 from Cart", "/cart/#{item.id}", method: :delete %>
        <% end %>


    <%= number_to_currency(cart.subtotal(item.price, @contents[item.id.to_s])) %>
    <%= button_to "Remove Item", "/cart/#{item.id}", method: :delete %>
    <% grand_total += cart.subtotal(item.price, @contents[item.id.to_s]) %>

  </section>

  <% end %>

<% end %>

<br>

<% if @contents.present? %>
  <%= number_to_currency(grand_total) %><br>
  <%= button_to "Empty Cart", cart_path, method: :delete %>
  <%= button_to "Checkout", order_new_path, method: :get %>
<% else %>
  <% flash[:no_items] = "You have no items in your cart" %>
<% end %>
