<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>
<% else %>
  <h1>All Items</h1>
<% end %>

<div class="row">
<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
      <div class="col-lg-4">
        <div class="card card-space" style="width: 18rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw" class="card-img-top">
          <div class="card-body">
            <h3 class="card-title"><%= link_to item.name, "/items/#{item.id}" %></h3>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text">Price: <%= number_to_currency(item.price) %></p>
            <p class="card-text">Inventory: <%= item.inventory %></p>
            <p class="card-text">Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p>
            <p class="card-text"><%= item.active ? "Active" : "Inactive" %></p>
          </div>
        </div>
      </div>
  </section>
<% end %>
</div>

<% if @merchant %>
  <br>
  <%= button_to 'New Item', "/merchants/#{@merchant.id}/items/new", class: "btn btn-dark btn-sm", method: :get %>
<% end %>
